<strong>Olá, {{student}} </strong>
<h3>Segue a resposta de sua pergunta</h3>

<p style="color: black"> {{ question }}</p>

<p style="color: red"> {{ answer }} </p>

<small>Atenciosamente equipe GymPoint</small>